<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Login Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-busqueda">
            <div class="logo">
                <img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
            <div class="form-busqueda">
                <form action="/" method="GET">
                    <input type="Lugar para poner la barra de búsqueda" class="buscador-home"><i
                        class="fa-solid fa-magnifying-glass icono-busqueda"></i>
                </form>
            </div>
            <div class="compra-en-coutas">
                <p><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <nav>
            <ul class="nav-home">
                <div class="contenedorVentas">
                    <li><a href="#oferta">Ofertas</a></li>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#tiendasOficiales">Tiendas Oficiales</a></li>
                    <li><a href="#vender">Vender</a></li>
                    <li><a href="#ayuda">Ayuda</a></li>
                </div>

                <div class="contenedorUsuarios">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-sharp fa-solid fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="/">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
                </div>
            </ul>

        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars icono-burger"></i>
        </div>
      
    </header>



    <main>
        <section class="login-form">
            <form class="login-form" action="/" method="GET">
                <div class="etiquetaTitulo">
                    <label for="user">Nombre de usuario:</label>
                </div>
                <input class="gap" type="text" name="user" id="user" minlength="3" placeholder="Nombre de usuario"
                    required>
                <div class="etiquetaTitulo">
                    <label for="password" class="etiquetaTitulo">Ingresa tu contraseña:</label>
                </div>
                <input class="gap" type="password" name="password" id="password" minlength="3"
                    placeholder="Elegí tu constraseña" required>
                <button class="submit-button" type="submit">Enviar</button>

            </form>
        </section>


    </main>
    <footer>
        <div class="footer">
            <div class="credit-card">
                <i class="far fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <div class="gifts">
                <i class="fas fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <div class="gifts">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </section>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ecf0794027.js" crossorigin="anonymous"></script>

</body>

</html>